// src/components/HousingCard/HousingCard.scss

.housing-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 22px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    background-color: #f6f6f6;
    padding: 50px;
    margin-top: 43px;
    border-radius: 25px;
  }
}

.housing-home {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 255px;
  position: relative;

  @media screen and (min-width: 768px) {
    height: 340px;
    width: 340px;
    margin-bottom: 50px;
  }
}

.housing-img-home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.housing-title-home {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 20px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;

  @media screen and (min-width: 768px) {
    font-size: 1em;
  }
}
