// src/components/Tags/Tags.scss

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
