/* coming.css */

/* Importer la police Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: #ec6164;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.logo {
  width: 150px;
  margin: 2rem 0;
}

.announcement h1 {
  font-size: 2rem;
  margin: 3rem 0 2rem 0;
}

.announcement p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.social-media {
  margin: 30px 0;
}

.social-media h2,
.apps h2 {
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
}

.social-media a {
  color: white;
  font-size: 1.8rem;
  margin: 0 10px;
  transition: color 0.3s;
  text-decoration: none;
}

.social-media a:hover {
  color: #000;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.apps {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.apps a img {
  width: 150px;
  margin: 10px;
  transition: transform 0.3s;
}

.appsstores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apps a img:hover {
  transform: scale(1.1);
}

footer {
  margin-top: 30px;
  padding: 0.5rem;
}

footer p {
  font-size: 0.9rem;
  line-height: 1.6;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries pour les écrans plus larges */

@media (min-width: 600px) {
  body {
    font-size: 14px;
  }
  .logo {
    width: 200px;
  }

  .announcement h1 {
    font-size: 3rem;
  }

  .announcement p {
    font-size: 1.4rem;
  }

  .social-media h2,
  .apps h2 {
    font-size: 1.8rem;
  }

  .social-media a {
    font-size: 2.5rem;
  }

  .apps a img {
    width: 180px;
  }

  footer p {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 16px;
  }

  .announcement h1 {
    font-size: 3.5rem;
  }

  .announcement p {
    font-size: 1.6rem;
  }

  .social-media h2,
  .apps h2 {
    font-size: 2rem;
  }

  .social-media a {
    font-size: 3rem;
  }

  .apps a img {
    width: 200px;
  }

  footer p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 16px;
    margin: auto;
    width: 1440px;
  }
}
